<!DOCTYPE html>
<html lang="en">
    <head>
      <%- include('../partials/head') -%>  
    </head>
    <body> 
      <%- include('../partials/main') -%> 

      <%- include('../partials/login') -%>   
      <%- include('../partials/login-error') -%> 

      <%- include('../partials/signup') -%>  
      <%- include('../partials/signup-error') -%>  

      <%- include('../partials/logout') -%> 

      <%- include('../partials/routing-error') -%>  
      
      <%- include('../partials/footer') -%>  
      </body>
</html>