<% if (info) { %>
    <div class="container text-center my-3">
        <ul class="list-group">
            <li class="list-group-item"><%= argv %></li>
            <li class="list-group-item"><%= carpetaProyecto %></li>
            <li class="list-group-item"><%= processID %></li>
            <li class="list-group-item"><%= pathEjecucion %></li>
            <li class="list-group-item"><%= rss %></li>
            <li class="list-group-item"><%= versionNodeJs %></li>
            <li class="list-group-item"><%= nombrePlataforma %></li>
        </ul>
</div>
<% } %>